{
    "branches": ["master", "next"],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "releaseRules": [
                    { "type": "docs", "release": "patch" },
                    { "type": "build", "scope": "deps", "release": "minor" },
                    { "type": "refactor", "release": "patch" },
                    { "type": "style", "release": "patch" }
                ]
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "types": [
                        { "type": "feat", "section": "Features" },
                        { "type": "feature", "section": "Features" },
                        { "type": "fix", "section": "Bug Fixes" },
                        {
                            "type": "perf",
                            "section": "Performance Improvements"
                        },
                        { "type": "revert", "section": "Reverts" },
                        {
                            "type": "docs",
                            "section": "Documentation",
                            "hidden": true
                        },
                        {
                            "type": "style",
                            "section": "Styles",
                            "hidden": true
                        },
                        {
                            "type": "chore",
                            "section": "Miscellaneous Chores",
                            "hidden": true
                        },
                        { "type": "refactor", "section": "Code Refactoring" },
                        { "type": "test", "section": "Tests", "hidden": true },
                        {
                            "type": "build",
                            "section": "Build System",
                            "hidden": true
                        },
                        { "type": "ci", "section": "CI", "hidden": true }
                    ]
                }
            }
        ],
        [
            "@semantic-release/changelog",
            { "changelogTitle": "# `@culur/stylelint-config` changelog." }
        ],
        [
            "@semantic-release/exec",
            { "prepareCmd": "yarn prettier CHANGELOG.md --write" }
        ],
        ["@semantic-release/exec", { "prepareCmd": "yarn test:spelling" }],
        ["@semantic-release/npm", { "tarballDir": "pack" }],
        ["@semantic-release/github", { "assets": ["pack/*.tgz"] }],
        [
            "@semantic-release/git",
            {
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}
